{% extends 'base_dashboard.html.twig' %}

{% block title %}Mes Produits{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre dashboard</h1>
    <p>Le contenu principal s'affiche ici.</p>
{% endblock %}
