{{ form_start(form, {
    action: action is defined ? action : path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')),
    attr: {
        'data-turbo': turbo is defined and turbo == false ? 'false' : 'true'
    }
}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
