{% extends 'base_dashboard.html.twig' %}

{% block title %}Mes Produits{% endblock %}

{% block body %}
    <h1>Nouveau produit</h1>
    {{ include('dashboard/products/_form.html.twig', {'button_label': 'Créer', 'turbo': false, 'action': path('app_auth_products_new')}) }}
{% endblock %}
